DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/DATABASE?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/DATABASE?sslmode=require&channel_binding=require"
AUTH_SECRET="replace-with-at-least-32-random-characters"
APP_URL="http://localhost:3000"

SMS_PROVIDER="disabled"
TERMII_BASE_URL=""
TERMII_API_KEY=""
INFOBIP_BASE_URL=""
INFOBIP_API_KEY=""
SMS_SEGMENT_PRICE_KOBO="785"

PAYMENT_PROVIDER="disabled"
PAYSTACK_SECRET_KEY=""
PAYSTACK_PUBLIC_KEY=""
